
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json
